h1{
	color: darkorange;
	margin-left: 30vw;
	margin-top: 60px;
	font-size: 300%;
}

h2{
	color: #f5ad27;
	margin: 80px;
	margin-left: 5vw;
	font-size: 200%;
}

p{
	margin-left:	10vw;
	font-size:20px;
}